body {
    font-family: Arial;
    margin: 0;
}

/* Navigation */
nav a {
    margin-right: 10px;
}

/* Images */
img {
    width: 100%;
    max-width: 300px;
}

/* Layout */
figure {
    margin: 20px;
}
